---
import type { Author } from "@/types/article";
import ArticleAuthor from "../components/ArticleAuthor";
import FavoriteButton from "../components/FavoriteButton";

interface Props {
  title: string;
  createdAt: string;

  updatedAt: string;
  favorited: boolean;
  favoritesCount: number;
  author: Author;
}
const { title, author, createdAt, favorited } = Astro.props;
---

<h1 class="article-title">{title}</h1>
<div class="article-author-container">
  <ArticleAuthor client:only="react" imgSrc={author.image} authorName={author.username} createDate={createdAt} />
  <FavoriteButton client:only="react" isFollow={favorited} isLike={author.following} />
</div>

<style>
  .article-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .article-author-container {
    display: flex;
  }
</style>
